<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Jonathan Ben-Ammi">
	<title></title>
	<meta name="description" content="">
	<link rel="stylesheet" type="text/css" href="/static/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="/static/css/materialize_icons.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script src="/static/js/jquery-2.2.3.js"></script>
	<script src="/static/js/jquery-ui.js"></script>
	<script src="/static/js/materialize.js"></script>
	<script type="text/javascript" src=""></script>
</head>
<body>
	<div class="container">
		<h3 class="center">Random Word (attempt # {{session['counter']}})</h3>
		<div>
			<h4 class="center">{{session['randItem']}}</h4>
		</div>
		<p class="center"><a href="/get_word"><button class="btn blue">Generate</button></a> <a href="/reset"><button class="btn green">Reset</button></a></p>
	</div>
</body>
</html>
